h1 {
    text-align: center;
    color: #E1B51E;
}
img {
    width: 200px;
    border-radius: 50px;
    float: top;
    float: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    horozonal-align: middle;
    
}

p { 
    font-weight: bold;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    color: #EBE7D9
    
}